.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home img{
    height: auto;
    width: 90%;
    border-radius: 1rem;
}
.home .intro{
    width: 90%;
}
.home .intro h1{
    width: 90%;
    margin-top: 1rem;
    /* font-family: 'Open Sans', sans-serif; */
    color: rgb(65, 65, 65);
    font-weight: 100;
    font-size: 1.5rem;
}
.home .intro p{
    width: 80%;
    /* font-family: 'Open Sans', sans-serif; */
    color: rgb(59, 59, 59);
    word-break: break-all;
    /* margin-top: 1rem; */
}
.profile{
height: 100vh;
background: green;
/* background-image: url(bc.gif);    */
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
display: none;
}
.works{
    height: 100vh;
    background-color: gray;
    display: none;
}
.experiance{
    height: 100vh;
    background-color: pink;
    display: none;
}
.talk{
    height: 100vh;
background-color: yellow;
display: none;
}
