.profile{
height: 100vh;
background: green;
/* background-image: url(bc.gif);    */
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
display: none;
}
.works{
    height: 100vh;
    background-color: gray;
    display: none;
}
.experiance{
    height: 100vh;
    background-color: pink;
    display: none;
}
.talk{
    height: 100vh;
background-color: yellow;
display: none;
}